* {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(195, 237, 192);
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    padding-top: 15px;
    color: black;
}
    

h2 {
    font-size: 20px;
    font-weight: 400;
}


div a {
    text-decoration: none;
}

/* img {
    height: 100px;
    width: 100px;
    box-shadow: 2px 4px 19px 0 #000;
    border-radius: 100%;
} */

.logo {
    height: 100px;
    width: 100px;
    
    border-radius: 100%;
    margin-right: 15px;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 450;
    display: inline-block;
}

.ul-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 20px;
}

nav ul li a:hover {
    color: rgb(8, 224, 73);
    transition: all ease 0.9s;
}

.aside-barra {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(170, 200, 167);
}

.aside-adentro {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: left;
}

.aside-adentro a {
    text-decoration: none;
    margin-left: 5px;
}

.boton-inicio {
    padding-top: 20px;
}

.aside-contacto {
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(241, 240, 232);
    border-color: rgba(11, 17, 14, 0.932);
}

.pie {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top: 30px;
}

.pie2 {
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(170, 200, 167);

}


.ultimo-parrafo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 5px;
    padding: 10px;
}

.ultimo-parrafo li a {
    padding: 30px 20px;
    margin-left: 15x;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
}



.ultima-palabra {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(241, 240, 232);
}

.layoutIndex {
 
    display: grid;
    grid:
      "main" 5fr
      "footer" 1fr
      / auto;
    gap: 8px;
  }
  
  .mainIndex { grid-area: main; }
  .footerIndex { grid-area: footer;
    margin-top:auto; }




/*A partir de aca se modifica Presupuestos*/


.titulo {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
  }

  .card {
    height: 15rem !important;
  }

.card-body {
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

.card-title {
    background-color: white;
}

.card-text {
    background-color: white;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    padding-top: 20px;
}

.layoutPresupuesto {
  
    display: grid;
    grid:
      "titlePrespuesto" 1fr
      "mainPresupuesto" 4fr
      "footerPresupuesto" 1fr
      / auto;
    gap: 8px;
  }
  
  .titlePrespuesto { 
    grid-area: titlePrespuesto;
 }
  .mainPresupuesto { grid-area: mainPresupuesto; }
  .footerPresupuesto { 
    grid-area: footerPresupuesto;
}




/*A partir de aca es Sobre mi*/


.sobremi-tittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
}


.sobre-mi {
    padding-top: 20px;
}

.parrafo-main {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}

.div-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    padding-bottom: 20px;
}

.link-final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

div a:visited {
    color: rgb(100, 100, 100);
}



/*A partir de aca es Metas*/

.inicio-metas {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
}

.metas-article {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
}

.h3-redes{
    font-size: 30px;
    text-align: center;
    color: white;
}


.metas-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.container-metas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top: 50px;
}

/*A partir de aca es Contacto*/

.titulo-contacto {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
}

.dropdown {
    padding-top: 10px;
}

.informacion {
    font-size: 20px;
    font-weight: 400;

}

.ultimos-li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    margin-top: 20px;
    list-style: none;
}

.ultimos-li a {
    text-decoration: none;
    color: slategrey;
}

.contact-form {
    padding-bottom: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-form__nombre {
    border-radius: 20px;
    border-color: rgb(63, 78, 79);
}

.contact-form__apellido {
    border-radius: 20px;
    border-color: rgb(63, 78, 79);
}

.contact-form__email {
    border-radius: 20px;
    border-color: rgb(63, 78, 79);
}

.contact-form__telefono {
    border-radius: 20px;
    border-color: rgb(63, 78, 79);
}

.button-final {
    border: none;
    padding-top: 10px;
}

.redes {
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    padding-bottom: 25px;
}

.redes li  {
    text-decoration: none;
    margin: 20px 0;
    font-size: 15px;
}





@media screen and (min-width: 500px)  and (max-width:800px) {
    * {
        font-size: 15px;
        color:rgb(35, 37, 39);
    }
}

